NEXT_PUBLIC_APPWRITE_PROJECT_ID=69cd5b430036eb03bf7a
NEXT_PUBLIC_APPWRITE_PROJECT_NAME="Archit's Resume"
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_API_KEY=
GITHUB_TOKEN=
GEMINI_API_KEY=
GCP_PROJECT_ID=
GCP_LOCATION=us-central1
