@import "tailwindcss";

summary::-webkit-details-marker {
  display: none
}

.checker-background-dark::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 4rem 4rem;
  mask-image: radial-gradient(ellipse at 50% 30%, black 0%, transparent 70%);
  z-index: -1;
  background-position-x: center;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(236,72,153,0.3);
  }
}
